.mat-card
{
    max-width: 300px;
    margin: auto;
    background-color: #6200EE;
}
.mat-card-avatar
{
    background-color: url(/assets/img/bean.png);
    background-size: cover;
}
.mat-card-action
{
    display: flex;
}
.mat-card-action {
    width: 100%;
}
div, .mat-card-subtitle
{
    color: #ffffff;
}