<mat-card>
<mat-card-header>
<div mat-card-title>Id: {{peopleList[0].id}}</div>
<mat-card-subtitle>Name: {{peopleList[0].name}}</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="{{peopleList[0].pic}}">
<mat-card-content>
</mat-card-content>
<mat-card-actions>
<button mat-button color="primary">Age : {{peopleList[0].age}}</button>
<button mat-button color="primary">{{peopleList[0].email}}</button>
</mat-card-actions>
</mat-card>