 <table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Full details</th>
        <th>Edit details</th>
    </thead>
    <tbody>
      <tr *ngFor="let element of peopleList; index as i" >
        <td>{{element?.id}}</td>   
        <td>{{element?.name}}</td>
        <td>{{element?.email}}</td>
        <td><a [routerLink]="'/card/'+element.id">View full details</a></td>
        <td><a [routerLink]="'/edit/'+element.id">Edit details</a></td>
       </tr>
       <tr>{{text}}</tr>
       </tbody>
</table>

<button [routerLink]="['/create']">Create</button>
