<h2>Insert data</h2>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div *ngIf="idpass">
    <label for="Id">Id:</label><br>
    <input readonly type="text" id="id" formControlName="id" placeholder="ID"><br>
  </div>

  <label for="Email">Email:</label><br>
  <input type="email" id="email" formControlName="email" placeholder="Email"><br>
  <label for="name">Name:</label><br>
  <input type="text" id="name" formControlName="name" placeholder="Name"><br>
  <label for="Age">Age:</label><br>
  <input type="number" id="Age" formControlName="age" placeholder="Age"><br>
  <label for="Date">Date:</label><br>
  <input type="date" id="dob" formControlName="dob" placeholder="Date Of Birth"><br>
  <label for="Pic">Picture:</label><br>
  <input type="text" id="pic" formControlName="pic" placeholder="Picture URL"><br>
  <br>
  <img *ngIf="employeeForm.value.pic" [src]="employeeForm.value.pic" alt="Picture"><br>
  <input [disabled]="!employeeForm.valid" type="submit" value="Submit">
</form>
<button *ngIf="idpass" (click)="deletePerson()">Delete</button> <br>
<button [routerLink]="['/']" routerLinkActive="router-link-active">back</button>